  #nav-item {
      background-color: aqua;
      color: aqua;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    background-color: gray;
    background-image: url("https://i.pinimg.com/originals/40/32/e5/4032e5fb4cf8094a909c18970a5a6b54.gif");
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 210vh; 
    background-position: center;
    background-size: cover;
  }


  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .nav-link:hover{
      background-color:blueviolet;
      border-radius: 20mm;
  }
  .nav-link{
      border-radius: 20mm;
  }

  @keyframes bang {
      from {
        transform: translate3d(0,0,0);
        opacity: 1;
      }
    }
    .hoverme {
      width: 35;
      margin:150px auto 0;
      text-align: center;
      padding: 10px 0;
      cursor: pointer;
      position: relative;
      span {
        color: #333;
        font-size: .9em;
      }
      i {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 3px;
        height: 8px;
        background: red;
        opacity: 0;
      }
    
    }

    .d-block w-100{
      width: 11px;
    }
    @font-face {
      font-family: 'Junicat';
      src: url("../Fonts/CebollasTiernas.ttf") format('truetype');
      }